html {
	height: 100%;
	width: 100%;
}

div {
	border: 1rem solid;
}

:root {
	--xy: 4rem;
}

.square {
	height: 4rem;
	width: 4rem;
	border: 1px solid black;
	background-color: white;
}

.square {
	height: 4rem;
	width: 4rem;
	border: 1px solid black;
	background-color: white;
}

.plane {
	border: 1rem solid blue;
	display: inline-grid;
	grid-template-columns: repeat(var(--xy), 1fr);
	grid-template-rows: repeat(var(--xy), 1fr);
}

/* .mickyMouse {
	height: 4rem;
	width: 4rem;
} */